// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hero {
  $base-border-radius: 3px !default;
  // $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: color("blue-grey", "lighten-2");
  $hero-background-bottom: color("blue-grey", "lighten-2");
  $hero-color: color("shades", "black");
  $gradient-angle: 10deg;
  $hero-image: "./../img/haystack.jpg";

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: color("grey", "darken-4");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .hero-logo {
    position: absolute;
    top: 75px;
    left: 10px;
    width: 200px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
      -moz-box-shadow: 0 0 5px 5px #888;
      -webkit-box-shadow: 0 0 5px 5px #888;
      box-shadow: 0 0 50px 5px #888;
      opacity: 0.5;
      // border: 2px solid #000000;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    text-align: left;

    .hero-copy {
      text-align: left;
      font-family: "Poiret One";
      font-weight: bold;
      margin-top:200px;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        font-weight: bold;

        @include media($large-screen) {
          font-size: 2em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        font-size: 1.4em;
        font-style: italic;
        // margin: 0 auto 1em auto;
      
        @include media($large-screen) {
          font-size: 1.8em;
          max-width: 40%;
        }
      }
    }
  }
}
