// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navigation {
	max-width: 1000px;
}

.header-img{
  height: 100px;
  width: auto;
}
.display-3{
  font-family: "Times New Roman";
}
.jumbotron {
  background-color: #f2f2f2;
  // @include border-radius($border-radius-lg);

  // @include media-breakpoint-up(sm) {
  //   padding: ($jumbotron-padding * 2) $jumbotron-padding;
  // }
}

.jumbotron-hr {
  // border-top-color: darken($jumbotron-bg, 10%);
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  // @include border-radius(0);
}
.ital-header{
	font-style: italic;
}
