// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: black;
  $gradient-angle: 10deg;
  $hero-image: "./../../img/Portland-Oregon-skyline.jpg";

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #000000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .hero-logo {
    position: absolute;
    top: 65px;
    left: 0;
    img {
      height: 100%;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 1em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.navigation {
	max-width: 1000px;
}

// .header-img{
//   height: 100px;
//   width: auto;
// }
// .display-3{
//   font-family: "Times New Roman";
// }
// .jumbotron {
//   background-color: #f2f2f2;
//   // @include border-radius($border-radius-lg);
//
//   // @include media-breakpoint-up(sm) {
//   //   padding: ($jumbotron-padding * 2) $jumbotron-padding;
//   // }
// }
//
// .jumbotron-hr {
//   // border-top-color: darken($jumbotron-bg, 10%);
// }
//
// .jumbotron-fluid {
//   padding-right: 0;
//   padding-left: 0;
//   // @include border-radius(0);
// }
// .ital-header{
// 	font-style: italic;
// }
